@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --color-primary: #ff577f;
    --color-primary-focus: #ff427f;
    --color-primary-negative: #59323f;
    --gray-0: #f8f9fa;
    --gray-1: #868e96;
    --gray-2: #424242;
    --gray-3: #202020;
    --gray-4: #141414;
    --gray-5: #202020;
    --sucess: #3fe864;
    --negative: #E83F5B;
}