@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$color-primary: #ff577f;
$color-primary-focus: #ff427f;
$color-primary-negative: #59323f;
$gray-0: #f8f9fa;
$gray-1: #868e96;
$gray-2: #424242;
$gray-3: #242424;
$gray-4: #141414;
$gray-5: #131415;
$sucess: #3fe864;
$negative: #E83F5B;


body {
    background-color: #131415;
;
}

*:focus {
    outline: none;
}

/* Estilo para o conteúdo geral */
.prose {

    max-width: 800px;
    /* Largura máxima do conteúdo */
    margin: 0 auto;
    /* Centralizar o conteúdo na página */
    font-family: Arial, sans-serif;
    /* Família de fontes padrão */
    font-size: 1.125rem;
    /* Tamanho da fonte base (18px) */
    line-height: 1.5;
    /* Altura da linha */
    padding: 1rem;
    /* Espaçamento interno para melhor leitura */
    color: #f2f2f2e1;
    /* Cor do texto para o modo escuro */
}

/* Estilo para títulos */
.prose h1 {
    font-size: 2rem;
    /* Tamanho da fonte para títulos h1 */
    margin: 1.5rem 0;
    /* Espaçamento acima e abaixo do título */
}

/* Estilo para parágrafos */
.prose p {
    margin: 1rem 0;
    /* Espaçamento abaixo de cada parágrafo */
}

/* Estilo para listas não ordenadas */
.prose ul {
    list-style-type: disc;
    /* Marcadores de lista de discos */
    margin: 1rem 0;
    /* Espaçamento abaixo da lista */
    padding-left: 1rem;
    /* Espaçamento à esquerda para recuo */
}

/* Estilo para itens de lista */
.prose li {
    margin: 0.5rem 0;
    /* Espaçamento abaixo de cada item de lista */
}

/* Estilo para citações */
.prose blockquote {
    font-style: italic;
    /* Estilo de itálico para citações */
    margin: 1rem 0;
    /* Espaçamento acima e abaixo da citação */
}

/* Estilo para links dentro do conteúdo "prose" */
.prose a {
    color: #50c878d2;
    /* Cor padrão para links (pode ser alterada) */
    text-decoration: underline;
    /* Sublinhado para links */
    transition: color 0.3s;

    /* Efeito de transição suave para a cor do link */
    /* Remover sublinhado ao passar o mouse */
    &:hover {
        text-decoration: none;
    }
}

.prose blockquote {
    border-left: 5px solid #3498db;
    /* Cor e espessura da borda esquerda (pode ser alterada) */
    margin: 1em 0;
    /* Espaçamento entre blocos de citação */
    padding: 0.5em 1em;
    /* Preenchimento interno do bloco de citação */
    background-color: #1b1b1b;
    /* Cor de fundo (pode ser alterada) */
    color: #ffffff;
    /* Cor do texto dentro do bloco de citação (pode ser alterada) */
    font-style: italic;
    /* Estilo de fonte em itálico */
    font-family: "Georgia", serif;
    /* Fonte para as citações */
}

/* Estilos para tabelas em dark mode dentro da classe "prose" */
.prose table {
    width: 100%;
    /* Tabela ocupa 100% da largura do contêiner */
    border-collapse: collapse;
    /* Remove espaçamento entre as células */
    background-color: #33333336;
    /* Cor de fundo da tabela no modo escuro */
    color: #fff;
    /* Cor do texto na tabela no modo escuro */
    text-align: center;
    /* Alinhamento centralizado */
}

/* Estilo para o cabeçalho da tabela */
.prose table th {
    border: 1px solid #000000;
    /* Borda em torno do cabeçalho */
    background-color: #44444438;
    /* Cor de fundo para cabeçalho da tabela */
    font-weight: bold;
    /* Texto em negrito */
    text-align: left;
    /* Alinhamento à esquerda */
    padding: 10px;
    /* Espaçamento interno */
    text-align: center;
    /* Alinhamento centralizado */
}

/* Estilo para as células da tabela */
.prose table td {
    border: 1px solid #141414;
    /* Borda em torno das células */
    text-align: left;
    /* Alinhamento à esquerda */
    padding: 10px;
    /* Espaçamento interno */
    text-align: center;
    /* Alinhamento centralizado */
}

/* Estilo para linhas alternadas na tabela */
.prose table tr:nth-child(even) {
    background-color: #55555539;
    /* Cor de fundo para linhas pares */
}

/* Estilo para task lists em modo escuro */
.prose .task-list {
    border-color: #4a4a4a;
    /* Cor da borda da task list */
    color: #fff;
    /* Cor do texto da task list */
    margin-left: 1.5em;
    /* Recuo à esquerda para a task list */

    /* Estilize os itens de tarefa (checkbox e texto) */
    .task-list-item {
        display: flex;
        align-items: center;

        /* Estilize a checkbox */
        input[type="checkbox"] {
            margin-right: 0.5em;
            /* Espaçamento entre a checkbox e o texto */
            width: 15px;
            /* Defina a largura desejada */
            height: 15px;
            /* Defina a altura desejada */
        }

        /* Estilize o texto da tarefa */
        p {
            margin: 0;
            /* Remova a margem do parágrafo para ajuste */
        }
    }
}

code {
    background-color: #282a36;
    /* Cor de fundo escura */
    color: #f8f8f2;
    /* Cor do texto */
    padding: 4px;
    /* Espaçamento interno */
    border-radius: 4px;
    /* Borda arredondada */
    font-family: 'Monaco', monospace;
    /* Fonte de código monoespaçada */
}

.ContainerSetLink {
    position: relative;
    width: 350px;
    font-size: 24px;
    text-align: center;

    .ContainerSetLinkMenu {
        position: relative;
        right: 0px;
        top: 8px;
        width: 350px;
        height: 100px;
        background-color: #252525;
        font-size: 24px;
        text-align: center;
        border: #242424 solid 1px;
        border-radius: 8px;
        box-shadow: 0px 0px 10px 0px #000000;

        .InputSetLink {
            position: absolute;
            right: 4px;
            top: 8px;
            width: 98%;
            height: 35px;
            padding: 6px;
            background-color: #313131;
            border: solid 1px var(--gray-2);
            border-radius: 6px;
            font-size: 12px;
            font-weight: 500;
            text-align: left;
            text-indent: 18px;
            font-family: 'Roboto', sans-serif;
            color: #ffffff;
            letter-spacing: 0.5px;

            &::placeholder {
                color: var(--gray-1);
            }
        }

        .ContainerSetLinkMoreOptions {
            position: relative;
            width: 350px;
            font-size: 24px;
            text-align: center;

            .SetLinkMoreOptions {
                position: absolute;
                right: 1%;
                top: 48px;
                width: 98%;
                height: 10px;
                padding: 6px;
                background-color: #252525;
                border-radius: 10px;
                font-size: 16px;
                font-weight: 500;
                text-align: center;
                font-family: 'Roboto', sans-serif;
                color: #ffffff;
                letter-spacing: 0.5px;

                .box {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    .box1 {
                        svg {
                            font-size: 18px;
                            margin: 8px;
                        }
                    }

                    .box2 {
                        text-align: left;

                        .SetLinkMoreOptions--description {
                            color: #7f7f7f;
                            font-size: 12px;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}

.tiptap p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}

.tiptap p.is-empty::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}