@import '/src/styles/index.scss';

.sidebar__item{
    display: flex;
    border-radius: 3px;
    width: calc(100% - 8px);
    padding: 6px 0;
    color: $gray-1;
    cursor: pointer;
    align-items: center;
    &:hover{
        background-color: $gray-3;
    }
    span{
        display: flex;
        align-items: center;
        gap: 10px;
        margin-left: 1em;
        font-weight: 500;
        font-size: .9em;
        svg{
            font-size: 1.2em;
        }
    }
}