@import '/src/styles/index.scss';

.sidebar-item{
    display: flex;
    align-items: center;
    gap: .8em;
    width: calc(100% - 4px);
    border-radius: 3px;
    padding: 2px 0;
    font-weight: 500;
    color: $font-color-3;
    cursor: pointer;
    user-select: none;
    font-size: 1em;
    line-height: 29px;
    letter-spacing: -0.5px;
    svg{
        margin-left: 1em;
        font-size: 1.2em;
        color: $font-color-2;
    }
    &:hover{
        background-color: $item-hover-1;
    }
}